.boxone {
    background-color: LightGrey;
    padding: 10px;
    margin: 20px;
    border: 0px;
    width: 175px; 
}

img {
    width: 100%;
}

.boxtwo {
    border: 10px solid lightgrey;
    width: 175px;
    margin: 20px;
    padding: 0px;
}